/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
    
  /* About
   ========================================================================== */
   #welcome-to{
    color: #333;
   }
   #app-title{
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
    color: #f5f5f5;
    text-shadow:0 0px 10px rgba(30,30,30,0.3);
   }
   #about-panel-wrapper{
    /* Position */
    position: absolute;

    /* List Style */

    /* Color */
    color: rgb(92,182,242); /* cornflowerblue */
    /*  color: #382626; black */

    /* Font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;

    /* Scroll */
    overflow-y: scroll;
   }

    #about-panel-wrapper p, #about-panel-wrapper h3, #about-panel-wrapper h2 {
        padding: 5%;
    }

    #about-panel-wrapper p, #about-panel-wrapper h3{
            /* Color */
        color: #333;
    }
  /* Menu
   ========================================================================== */

   #menu-button-wrapper{

    /* Position */
    position: absolute;
    display: table;
    right: 0;
    z-index: 4;
    margin:3%;

    /* Color */
    background-color: rgb(230,223,206); /* gainsboro */
    color: rgb(137,89,77); /* sienna */

    /* Border */
    border: solid; 
    border-radius: 25%;

    /* Shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
   }

   #menu-button-enter{
    /* Font */
    font-size: 4em;

    /* Cursor */
    cursor: pointer;
   }

   #menu, #nearby-list-panel, #about-panel-wrapper{
    /* Position */
    position: absolute;
    height: 100%;
    width: 100%;   
    right:0;
    z-index: 5;

    /* Color */
    background-color: rgb(230,223,206); /* gainsboro */

    /* Display */
    display: none;
   }

   #menu-button-exit, #location-panel-button-exit, #checkin-button, #leaderboard-exit-button, #nearby-list-exit-button, #about-exit-button{
    /* Position */
    position: absolute;
    float: right;
    margin: 3%;
    right:0;

    /* Font */
    font-size: 4em;

    /* Color */
    color: rgb(137,89,77); /* sienna */

    /* Border */
    border: solid;
    border-radius: 25%;

    /* Cursor */
    cursor: pointer;

    /* Disable Select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

   #checkin-button{
    /* Position */
    position: absolute;
    float: right;
    margin: 3%;
    margin-right:25%;
    right:0;

    /* Font */
    font-size: 4em;

    /* Color */
    color: rgb(137,89,77); /* sienna */

    /* Border */
    border: solid;
    border-radius: 25%;

    /* Cursor */
    cursor: pointer;


    /* Transitions */
      -webkit-transition: color 0.1s ease-in-out;
      -moz-transition: color 0.1s ease-in-out;
      -o-transition: color 0.1s ease-in-out;
      transition: color 0.1s ease-in-out;
   }
   #checkin-button:active {  
        color: #f2f2f2;
        font-size: 5em;  
    }  

    #menu ul, #location-panel ul, #location-name, #nearby-list {
        list-style: none;
    }
   #menu ul, #location-panel ul, #location-name, #leaderboard-panel ul, #nearby-list {
    /* List Style */
    padding-left: 0;

    /* Color */
    color: rgb(92,182,242); /* cornflowerblue */
    /*  color: #382626; black */

    /* Font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
   }

   #menu li:not(:first-child){
    /* Border */
    border-top: 1px solid #382626; 

    /* Cursor */
    cursor: pointer;
   }
   /* Disable First and Second Child */
    #menu li:first-child, #menu li:nth-child(2) {
    /* Color */
    color: rgba(52,142,202,0.5); /* cornflowerblue */

    /* Cursor */
    cursor: default;
    }
    #menu li{
       padding-left: 5%;
    }


   /* Location Panel
   ========================================================================== */

    #location-panel-wrapper {
        z-index: 4;
        margin:0;
        padding: 0;
        position: absolute;
        display: none;
        width: 60%;
        height: 100%;
        left: 0;
        top:0;
        bottom:0;
        overflow-x:hidden;  


    }
    #location-panel{
        margin: 0;
        background-color: rgb(230,223,206); 
        height: 100%;
        position: relative;
        display: table;
    }

    #location-name, #location-address, #location-hours, #location-description{
        display: block;
        padding: 5%;
        padding-top: 7%;
    }
    #location-panel ul{
        color: #382626; 
        font-size: 1em;
    }
    #location-hours ul{
        margin-top: 10%;
    }
    .section-header{
        font-weight:bold;
    }

  /* Leaderboard
   ========================================================================== */
   #leaderboard-panel-wrapper{
        
    /* Position */
    position: absolute;
    height: 100%;
    width: 40%;   
    right:0;
    z-index: 5;

    /* Color */
    background-color: rgb(230,223,206); /* gainsboro */

    /* Display */
    display: none;

    overflow-y: scroll;
    }

    #leaderboard-panel ul{
        list-style: none;
        padding-top: 10%;
    }

    #leaderboard-panel li:not(:first-child), #nearby-list li:not(:first-child){
    /* Border */
    border-top: 1px solid #382626; 
   }
    #leaderboard-panel li:first-child{
    /* Color */
    background-color: rgba(241, 196, 15,1.0); 
    color: #333;
    /* Layout */
    padding: 5%;
   }
    #leaderboard-panel li:nth-child(2){
    /* Color */
    background-color: rgba(241, 196, 15,0.6); 
    color: #333;

    /* Layout */
    padding: 3.5%;
   }
    #leaderboard-panel li:nth-child(3){
    /* Color */
    background-color: rgba(241, 196, 15,0.4); 
    color: #333;

    /* Layout */
    padding: 2.5%;
   }
    #leaderboard-li{
        cursor: pointer;
    }
    #leaderboard-panel{
        margin: 0; 
        /* Color */
        height: 100%;
        position: relative;
        display: table;
    }


  /* Nearby-list
   ========================================================================== */
   #nearby-list{
    /* Color */
        background-color: rgb(230,223,206); /* gainsboro */
        padding: 5%;
        font-size: 2em;
   }
   #nearby-list li{
    padding: 0.5% 0;
   }
   #nearby-list li ul li{
    color: rgba(02,92,152,0.8); /* cornflowerblue */
    border: 0px none !important;
    list-style: none;
    font-size: 0.7em;
    padding:0;

   }
/* ==========================================================================
   Media Queries
   ========================================================================== */


@media all and (min-width: 1000px){
    #menu, #leaderboard-panel-wrapper, #about-panel-wrapper{
        right: 0;
        width: 40%;
    }
    
}
@media all and (max-width: 1000px) and ( min-width: 600px){
    #menu, #leaderboard-panel-wrapper, #about-panel-wrapper{
        right: 0;
        width: 50%;
    }
}
@media (max-width: 600px){
    #leaderboard-panel-wrapper, #about-panel-wrapper{
        right: 0;
        width: 100%;
    }
    #menu li{
        padding: 5%;
    }
}